#header{
    width: 100%;
    height: 100px;;
    background-color: rgb(38, 189, 63);
}

#nav{
    display:flex;
    list-style:none;
    gap: 20px;
    justify-content: flex-end;
    font-size: 20px;
    padding: 5px;
}

#display{
    width:100%;
    height:600px;
    background-color: brown;


}

#cr{
    width:100%;
    height:100px;
    background-color: aqua;
    text-align: center;
}

.box{
    width:100%;
    height: 120px;
    background-color: purple;
}

.form-group{
    background-color: red;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}

input{
    width:100%;
    box-sizing: border-box;
    height: 80%;
    
}

label{

}

#contact-us{
    
    place-items: center;
    align-items: center;
    display: grid;
    justify-content: center;
}